:root {
    --blue : rgb(12, 132, 187);
    --grey : rgb(228, 228, 233); 
}

body {
    margin: 0px 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    align-items: stretch;
}

.sidebar {
    background-color: var(--blue);
    color: whitesmoke;
    padding: 1.2em;
    grid-column: 1;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3em;
}

.logo {
    font-size: 2em;
}

.nav-profile,
.nav-general {
    font-size: 1.5em;
}

ul {
    list-style: none;
    padding: 0px;
}

.nav-profile > ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5em;
}

.nav-general > ul {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5em;
}

.header {
    padding: 0 2.5em;
    padding-bottom: 1.5em;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.search,
.profile-info {
    justify-self: start;
}

#search {
    appearance: none;
    border: none;
    border-radius: 15px;
    background-color: var(--grey);
    height: 2.5em;
    width: 50em;
}

#btn {
    border: none;
    background-color: transparent;
}

.profile-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    justify-content: start;
    align-items: center;
    column-gap: 1em;
}

.profile-info > span {
    grid-row: 1 / 3;
    grid-column: 1;
    justify-self: center;
}
.profile-info > h5 {
    grid-row: 1 / 2;
    grid-column: 2;
}

.profile-info > h1,
.profile-info > h5 {
    margin: 0;
}

.notification,
.button, 
.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.button button{
    border: none;
    background-color: var(--blue);
    border-radius: 25px;
    font-size: 1.2em;
    color: whitesmoke;
    padding: .5em 1em;

}

.main-content {
    background-color: rgb(228, 228, 233);
    padding: 0 2.5em;
    padding-bottom: 2.5em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2em;
}

.project {
    grid-row: 1 / 3;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 10fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5em;
}

.card {
    background-color: white;
    padding: 1.5em;
    box-shadow: 0px 0px 25px 1px gray;
    border-left: 10px solid orange;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card h3,
.card p {
    margin: 0;
}

.card-func {
    display: flex;
    justify-content: flex-end;
    gap: 1.5em;
}

.announcement  h5,
.announcement p {
    margin: 0;
}

.announcement h5 {
    margin-bottom: .5em;
}

.announcement {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.announc-container {
    background-color: white;
    box-shadow: 0px 0px 25px 1px gray;
    border-radius: 5px;
    padding: 1.5em;
}

.announc-container > div {
    border-bottom: 1px solid gray;
    padding-bottom: .5em;
    margin-bottom: .5em;
}

.announc-container > div:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.trending {
    align-self: end;
}

.trending h5,
.trending p {
    margin: 0;
}

.trending p {
    margin-bottom: 1em;
}

.trending > div {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    box-shadow: 0px 0px 25px 1px gray;
    border-radius: 5px;
    padding: 1.5em;
    align-items: center;
}


.trending > .img-profile {
    grid-column: 1 / 2;
}



